/*@import url('https://fonts.googleapis.com/css2?family=Mulish+Regular:wght@400;700&display=swap');*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', 'Helvetica Neue',sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  margin: 0;
  padding:0;
  overflow-x: hidden;
  background-color: #a29bfe;
}
.loginBox {
  align-items: center;
  text-align: center;
  height: 50vh;
  width: 400px;
  background-color: rgba(108,92,231,0.5);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 250px;
  padding: 40px;
  border-radius: 11px;
}
.loginBox h1{
  color: white;
  font-size: revert;
  width: 100%;
}
.loginBox input{
  width: 100%;
  height: 50px;
  margin: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 3px solid white;
  outline:none;
}
.loginBox input::placeholder {
   color: white;
   font-size: 1.5em;
 }
.loginBox label{
  text-align: left;
  position: relative;
}
.loginBox .label-placeholder{
  align-items: baseline;
  justify-content: left;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
.loginBox .label-placeholder span{
  position: relative;
  top: 25px;
  left: 10px;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.21,0.8)

}
.loginBox .label-placeholder span span{
  letter-spacing: 5px;
}
.loginBox button{
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 9px;
  font-size: large;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  margin: 20px;
}

@media (max-width: 1024px){
  h1{
    top: 30%;
    font-size: xx-large;
  }
  .button{

    top: 50%;
    width: 300px;
    height: 70px;
    font-size: x-large;
    padding: 10px;
    font-weight: 600;
  }
}@media (max-width: 768px){
  h1{
    top: 35%;
    font-size: x-large;
  }
  .button{

    top: 50%;
    width: 200px;
    height: 50px;
    font-size: x-large;
    padding: 10px;
    font-weight: 600;
  }
}